.center {
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 2px solid darkgoldenrod;
    border-collapse: collapse;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    font-family: "cormorant upright", serif;
    font-style: normal;
}

